body{
    margin: 15px;
}

table{
    margin-top: 10px;
}
.aprovat{
    color: #388e3c;
    font-weight: bold;
}
.suspes{
    color: #d32f2f;
    font-weight: bold;
}
.suficient{
    color: #fdd835;
    font-weight: bold;
}

button{
    margin-left: 15px ;
}